@model IEnumerable <MVC5RealWorld.Models.Calendar_User_Data>

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Customers</h4>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Month</th>
            



        </tr>

        @foreach (var item in Model)

        {
            <tr>
                <td>@item.id</td>
                <td>@item.userid</td>


            </tr>
        }
    </table>
</body>
</html>

<div>
    @Html.ActionLink("Back to Main", "Index", "Home")
</div>
